'fileTypes': [
  'mpf',
  'spf',
]
'scopeName': 'source.g-code'
'name': 'G-Code'
'patterns': [
  {
    'match': '(^[nN][0-9]+|;.*)'
    'name': 'comment.g-code'
  }
  {
    'match': '(?i:(?:\\bIF\\b)|(?:\\bELSE\\b)|(?:\\bENDIF\\b)|(?:\\bGOTO[fsb]+\\b)|(?:\\bWHILE\\b)|(?:\\bENDWHILE\\b)|(?:\\bFOR\\b)|(?:\\bTO\\b)|(?:\\bENDFOR\\b)|(?:\\bSTOPRE\\b))'
    'name': 'keyword.control.g-code'
  }
  {
    'match': '(?i:(?:\\=)|(?:\\+)|(?:\\<\\<)|(?:\\-)|(?:b_and)|(?:b_or)|(?:and)|(?:or))'
    'name': 'constant.other.symbol.g-code'
  }
  {
    'match': '(?i:(?:\\bDEF\\b))'
    'name': 'storage.type.g-code'
  }
  {
    'match': '(?i:(?:\\bINT\\b)|(?:\\bBOOL\\b)|(?:\\bSTRING\\[.+?\\])|(?:\\bREAL\\b)|(?:\\bCHAR\\b)|(?:\\bAXIS\\b)|(?:\\bFRAME\\b))'
    'name': 'storage.type.g-code'
  }
  {
    'match': '(?i:(?:(?<![\\_a-z])[MHSDTG](?:\\=(?:.+?[\\d\\]](?=[a-z])|.+?(?=\\s))|\\d+\\=(?:.+?[\\d\\]](?=[a-z])|.+?(?=\\s))|\\d+)))'
    'name': 'support.function.g-code'
  }
  {
    'match': '(?i:(?:(?<![\\_a-z])(?:[XYZABF]|ANG)(?:(?:\\d+|\\=(?:.+?[\\d\\]](?=[a-z])|.+?(?=\\s))))))'
    'name': 'support.function.any-method.g-code'
  }
  {
    'match': '(?<![\\_a-z])(?:(?:\\$\\w+?(?:(?<br1>\\[(?:(?>[^\\[\\]]+)|\\g<br1>)*\\]))?(?=[\\s\\=\\<\\>\\+\\-\\*\\,\\)]))|R(?:\\d+|(?<br2>\\[(?:(?>[^\\[\\]]+)|\\g<br2>)*\\])))'
    'name': 'variable.other.g-code'
  }
  {
    'match': '(?i:(?:(?<![\\_a-z\\d])(?:\\.)?\\d+(?:\\.\\d+)?))'
    'name': 'constant.numeric.g-code'
  }
  {
    'match': '(?i:(?:\'(?:b[01]+|h[0-9abcdef]+)\'))'
    'name': 'constant.numeric.g-code'
  }
  {
    'match': '(?i:(?<![\\_a-z])(?:true|false))'
    'name': 'constant.language.boolean.g-code'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.g-code'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.g-code'
    'name': 'string.quoted.double.g-code'
  }
]
