'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'g-code'
      'submenu': [
        {
          'label': 'Renumber'
          'command': 'g-code:renumbering'
        }
        {
          'label': 'Remove Numbering'
          'command': 'g-code:delNumbering'
        }
      ]
    ]
  }
]
